.login-root {
    -fx-background-image: url("/com/travel/smartcity/images/city-background.png");
    -fx-background-size: cover;
    -fx-background-color: rgba(16, 182, 253, 0.65);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}
